/* reset css */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* ________reset css finished */

/* global */
html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 14px */
  font-size: 1.4rem;
  font-family: "M PLUS Rounded 1c", "Hiragino Kaku Cothic ProN", Meiryo,
    sans-serif;
  background-color: #fbfbf6;
  color: #464646;
}

main {
  margin: 0px auto 0px auto;
}

#contents {
  margin: 0 auto;
}

#main-contents {
  margin: 0 auto;
}

.part-title {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  line-height: 45px;
  letter-spacing: 2px;
}

.part-title_inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.part-title_inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 120px;
  height: 5px;
  transform: translateX(-50%);
}

.global-angle {
  text-align: center;
  padding: 110px 0 38px 0;
}
/* ________global finished */

/* header */
.h-img {
  width: 100%;
  height: 814px;
  text-align: center;
  padding-top: 180px;
  letter-spacing: 3px;
}

.h-title {
  font-size: 6rem;
  font-weight: 800;
  line-height: 9rem;
}

.h-subtitle {
  font-size: 3rem;
  padding-top: 4rem;
  line-height: 4rem;
}

.fa-angle-double-down {
  display: inline-block;
  font-size: 6.2rem;
  color: #ffa14e;
}

.header-angle-icon {
  margin-top: 244px;
}
/* header finished */

/* about */
.about {
  background-color: #464646;
}

.about-title {
  color: #fbfbf6;
  padding-top: 50px;
}

.about-title_inner::after {
  background-color: #fbfbf6;
}

.profile {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 60px auto 0 auto;
  max-width: 1160px;
  height: 60%;
  background: #c4c4c4;
  border-radius: 120px;
}

.l-profile {
  flex: 1;
  margin: 45px 0 0 165px;
}

.profile-img {
  border-radius: 50%;
}

.profile-tech {
  padding-top: 40px;
  text-align: center;
}

.profile-tech-text {
  font-size: 24px;
  line-height: 36px;
}

.r-profile {
  flex: 4;
  margin: 45px 94px 65px 164px;
}

.r-profile-title {
  font-size: 28px;
  line-height: 42px;
}

.r-profile-address {
  padding-top: 22px;
}

.profile-text {
  font-size: 18px;
  line-height: 27px;
  padding-top: 22px;
}

@media (max-width: 768px) {
  .about {
    color: #fbfbf6;
  }
  .profile {
    display: block;
    background-color: #464646;
  }
  .l-profile {
    flex: auto;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .r-profile {
    width: 80%;
    margin: 0 auto;
  }
  .profile-tech-text {
    font-size: 18px;
  }
  .r-profile-title {
    text-align: center;
  }
  .profile-text {
    text-align: center;
  }
  .profile-image-content {
    text-align: center;
  }
  .r-profile {
    flex: auto;
  }
}

/* _____about finished */

/* skill */
.skill-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}

.skill-title {
  padding-top: 50px;
}

.skill-title_inner::after {
  background-color: #464646;
}

.l-skill-boxs {
  max-width: 50%;
}

.comment-title {
  padding-bottom: 10px;
  margin: 80px auto 20px auto;
  border-bottom: 4px solid #ffa14e;
  font-size: 2.4rem;
}

.comment-text {
  font-size: 1.8rem;
}

.r-skill-boxs {
  margin: 80px auto 0 auto;
}

.tech-box {
  margin-bottom: 30px;
}

.tech-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5rem 2rem;
}

.tech-title {
  padding-right: 50px;
}

.tech-title_text {
  font-size: 2.4rem;
  padding-right: 50px;
}

.fa-star,
.fa-star-half-alt {
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  .skill-content {
    display: block;
  }
  .l-skill-boxs {
    max-width: 80%;
    margin: 0 auto;
  }
  .tech-title_text {
    padding: 0;
  }
  .fa-star,
  .fa-star-half-alt {
    font-size: 1rem;
  }
}

/* ________skill finished */

/* work */
.work {
  background-color: #464646;
}

.work-title {
  color: #fbfbf6;
  padding-top: 50px;
}

.work-title_inner::after {
  background-color: #fbfbf6;
}

.work-content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  margin: 80px auto 0 auto;
}

.work-wrapper {
  margin: 2rem auto;
  width: 30%;
}

.work-wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}
.work-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
}

.work-card:hover,
.work-card:focus {
  opacity: 0.75;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 8px 20px 20px;
}
.card-title {
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
}

.card-tech {
  padding-top: 1rem;
}

.card-text {
  color: #777;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0.2em;
  padding-top: 1rem;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #4f96f6;
  margin: 0 10px;
}
.card-link a:hover {
  color: #6bb6ff;
}

.card-content p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .work-wrapper {
    width: 85%;
  }
  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
/* ________work finished */

/* cta */
.cta-title {
  padding-top: 50px;
}

.cta-title_inner::after {
  background-color: #464646;
}

.cta-body {
  margin-top: 60px;
}

.cta-btn {
  text-align: center;
}

.cta-btn_inner {
  display: inline-block;
  width: 300px;
  max-width: 80%;
  padding: 20px 10px;
  background-color: #ffa14e;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
  color: #fbfbf6;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 10px;
  font-size: 1.8rem;
}

.cta-btn_inner:focus,
.cta-btn_inner:hover {
  background-color: #fbfbf6;
  border-color: currentColor;
  color: #ffa14e;
}

.cta-text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .cta-text {
    width: 80%;
    margin: 0 auto 40px;
  }
}

.fa-angle-right {
  padding-left: 1rem;
  font-size: 2rem;
}

.cta-sns {
  display: flex;
  text-align: center;
  margin: 5rem auto 0 auto;
  max-width: 600px;
  justify-content: space-around;
}

.fa-twitter,
.fa-github,
.fa-instagram {
  font-size: 5rem;
  color: #464646;
}

.fa-twitter:focus,
.fa-github:focus,
.fa-instagram:focus,
.fa-twitter:hover,
.fa-github:hover,
.fa-instagram:hover {
  background-color: #fbfbf6;
  border-color: currentColor;
  color: #ffa14e;
}

.fa-angle-double-up {
  display: inline-block;
  font-size: 6.2rem;
  color: #ffa14e;
}
/* ________cta finished */

/* footer */
#footer {
  background-color: #464646;
  margin-bottom: 0;
}

.copyright-text {
  color: #fbfbf6;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  padding: 18px 0;
}
/* ________footer finished */
