/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* reset css */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "M PLUS Rounded 1c", "Hiragino Kaku Cothic ProN", Meiryo,
    sans-serif;
  background-color: #fbfbf6;
}

.h-img {
  width: 100%;
  text-align: center;
  padding: 300px 0px 300px 0px;
  letter-spacing: 3px;
}

.h-title {
  font-size: 6rem;
  word-break: break-all;
}

.h-subtitle {
  font-size: 2rem;
  letter-spacing: 2px;
  padding-top: 3rem;
  word-break: break-all;
}

main {
  margin: 0px auto 0px auto;
}

#contents {
  margin: 0px auto 0px auto;
  padding-top: 100px;
}

#main-contents {
  max-width: 1320px;
  margin: 0 auto;
}

.part-title {
  padding: 30px 10px;
  margin: 100px 0 30px 0;
  background-color: #999999;
  color: #fff;
  font-size: 2.15rem;
  text-align: center;
  letter-spacing: 2px;
}

.part-title_inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.part-title_inner::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.products {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
  max-width: 100%;
}

.product:hover,
.product:focus {
  opacity: 0.75;
}

.product-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.product-image {
  position: absolute;
  top: 50%;
  max-width: 100%;
  width: 100%;
  transform: translateY(-50%);
}
/* Responsive */
@media (min-width: 600px) {
  .products {
    justify-content: space-between;
  }
  .product {
    width: 30%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.product-body {
  padding: 15px;
}

.product-body > :last-child {
  margin-bottom: 0;
}

.product-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-tech {
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 10px;
  word-break: break-all;
}

.about {
  background-color: #f9f9f9;
}

.profile {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-pro {
  flex: 1;
  margin: 20px 0 0 20px;
}

.pro-name {
  text-align: center;
}

.r-pro {
  flex: 4;
}

.pro-text {
  line-height: 2.5;
}

.pro-image > img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

@media (min-width: 600px) {
  .skill-boxes {
    display: flex;
  }
}

@media (min-width: 600px) {
  .skill-box {
    width: 33%;
  }
}

.skill-svg {
  display: block;
}
@media (max-width: 600px) {
  .skill-svg {
    margin: 0 auto;
  }
}

.devicon-html5-plain-wordmark:before {
  content: "";
  display: inline-block;
  width: 300px;
  height: 300px;
}

.comment {
  background-color: #f9f9f9;
}

.comment-title {
  padding-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-bottom: 4px solid #999999;
  font-size: 1.75rem;
  font-weight: bold;
}

.cta-area_btn {
  text-align: center;
}
.cta-area_btn_inner {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #4a4957;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.cta-area_btn_inner:focus,
.cta-area_btn_inner:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #4a4957;
}

.cta-area_text {
  margin-bottom: 40px;
  text-align: center;
}

#footer {
  background-color: #333;
  margin-bottom: 0;
}

.copyright {
  max-width: 1320px;
  margin: 0 auto;
}

.copyright > p {
  color: #f9f9f9;
  text-align: center;
}
